body{
    font-family: 'Alegreya Sans SC', serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1
}

header{
    flex-direction: column;
    display:flex;
    justify-content: center;
    align-items: center;
}

.nav_links{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.nav_item a:visited{
    color: #0000FF;
}

.card > header{
    background-color: #288088;
    border-style: solid;
    border-width: 2px;
    border-color: #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.pricing{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card{
    flex-basis: 450px;
}

.gallery img{
    border-style: solid;
    border-width: 10px;
    border-color: #50C7C7;
    margin: 10px 10px 10px 10px;
    width: 300px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

#logo{
    animation-name: grow;
    animation-duration: 5s;
    animation-iteration-count: 1;
}

@keyframes grow{
from {width: 50px; opacity:0;}
to {width: 425px; opacity:1;}
}

@media screen and (min-width: 850px){
    header{
        flex-direction: row;
        justify-content: space-between;
        position: sticky;
        top:0;
        align-items:start;
        display:flex;
    }

    .nav_links {
        align-items:center;
        display: flex;
        flex-direction: row;
    }
    
    .card > header{
        justify-content: center;
        position: static;
    }

    .card{
        flex-basis: 250px;
    }
}

@media (prefers-reduced-motion) {
    .grow {
      animation-name: grow;
    }
}

@media print {
    body{
        background-image: none;
    }

    header{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .nav_links{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    
    .pricing{
        display:flex;
        align-items: flex-end;
        flex-wrap: nowrap;
    }

    .card{
        border-style: solid;
        border-width: 2px;
        border-color: #45ADDD;
        flex-basis: 250px;
    }

    .gallery #gallery{
        display: none;
    }

    .card li:first-child::before{
        content: "👍";
    }
    
    .card li:last-child::before{
        content: "👍";
    }
    
    .card li:nth-child(2)::before{
        content: "👍";
    }
}




